# Git Ignore Files

# Apple OSX Files
.DS_Store

# Build Directory
build/**

# Node Modules Directory
node_modules/**

# sftp-config.json File
source/sftp-config.json

# Sublime Text Files
*.sublime-project
*.sublime-workspace